<ion-view view-title="Pessoa">
    <ion-content class="padding">
        <div class="header-person">
            <div class="row">
                <div class="col">
                    <a href="tel:{{contact.phone_contact}}" class="button button-balanced ion-ios-telephone"></a>
                </div>
                <div class="col">
                    <img class="avatar" ng-src="img/upload/user.jpg">
                </div>
                <div class="col">
                    <a ng-href="#/app/person_view" class="button button-calm ion-edit"></a>
                </div>
            </div>
            <h2 class="title">Pedro Henrique</h2>
            <p class="type">Pai</p>
        </div>

        <div class="body-person">
            <a class="item-category card" ng-href="#/app/person/person_date">
                <div class="item item-image">
                    <img class="image-category" ng-src="img/upload/bg-calendar.jpg">
                    <span class="category">Datas</span>
                </div>
            </a>
            <a class="item-category card" ng-href="#/app/person/person_place">
                <div class="item item-image">
                    <img class="image-category" ng-src="img/upload/bg-places.jpg">
                    <span class="category">Lugares</span>
                </div>
            </a>
            <a class="item-category card" ng-href="#/app/person/person_food">
                <div class="item item-image">
                    <img class="image-category" ng-src="img/upload/bg-food.jpg">
                    <span class="category">Comidas</span>
                </div>
            </a>
            <a class="item-category card" ng-href="#/app/person/person_present">
                <div class="item item-image">
                    <img class="image-category" ng-src="img/upload/bg-presente.jpg">
                    <span class="category">Presentes e Interesses</span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
