<ion-view view-title="Pessoas">
    <!-- nav header button -->
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-ios-plus-outline" ng-href="#/app/person_add"></a>
    </ion-nav-buttons>
    <!-- nav header button -->
    <ion-content class="padding">
        <div class="list-persons list">
            <!-- <ion-item class="item-avatar item-icon-right item-cliente" ng-repeat="cliente in clientes" type="item-text-wrap" href="#/app/clientes/{{cliente.id}}"> -->
            <ion-item class="item-avatar item-icon-right item-person" type="item-text-wrap" href="#/app/person/item_person">
                <img ng-src="img/upload/user.jpg">
                <h2 class="name">Pedro</h2>
                <p class="type">Pai</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-href="#/app/person_add">Nova pessoa</a>
        </div>
    </ion-footer-bar>

</ion-view>
