<ion-view view-title="Presentes">
    <!-- nav header button -->
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-ios-plus-outline" ng-href="#/app/person_present_form"></a>
    </ion-nav-buttons>
    <!-- nav header button -->

    <ion-content>

        <div class="list-infos">
            <!-- <ion ng-repeat="processo in processos"> -->
            <ion>
                <div class="item-timeline item-widget">
                    <div class="widget-header">
                        <h4 class="title">Camisa nova da italia</h4>
                        <a class="link-see" href="#/app/person_present_view">
                            <i class="icon ion-eye"></i>
                        </a>
                    </div>

                    <div class="widget-body">
                        <ul class="widget-list-info">
                            <li class="item-list">

                                <div class="info-detail">
                                    <img src="https://osporquesdoesporte.files.wordpress.com/2014/06/camisa-italia-1.jpg" alt="">
                                </div>
                            </li>
                            <li class="item-list">
                                <div class="info-title">
                                    <p>Descrição</p>
                                </div>
                                <div class="info-detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elveniam.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="item-timeline item-widget">
                    <div class="widget-header">
                        <h4 class="title">Bermuda</h4>
                        <a class="link-see" href="#/app/person_present_view">
                            <i class="icon ion-eye"></i>
                        </a>
                    </div>

                    <div class="widget-body">
                        <ul class="widget-list-info">
                            <li class="item-list">
                                <div class="info-title">
                                    <p>Descrição</p>
                                </div>
                                <div class="info-detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elveniam.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </ion>
        </div>
    </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <a class="button button-balanced" ng-href="#/app/person_present_form">Novo presente</a>
        </div>
    </ion-footer-bar>
</ion-view>

