<ion-view title="Detalhes">
    <ion-content scroll="false">
        <div class="padding form-input">
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Data</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="">
                </label>

                <label class="item item-input item-stacked-label ">
                    <span class="input-label">Descrição</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3"></textarea>
                </label>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <button class="button button-balanced" ng-click="">Salvar</button>
            <button class="button button-assertive" ng-click="">Deletar</button>
        </div>
    </ion-footer-bar>
</ion-view>
