<ion-view title="Nova data">
   <ion-content scroll="false">
    <div class="padding form-input">
      <strong class="title-form dark">Cadastre um novo evento para esta pessoa</strong>
      <div class="list list-inset">
          <label class="item item-input item-stacked-label">
              <span class="input-label">Data</span>
              <input type="date" placeholder="">
          </label>

          <label class="item item-input item-stacked-label ">
              <span class="input-label">Descrição</span>
              <textarea placeholder="" name="" id="" cols="30" rows="3"></textarea>
          </label>
      </div>



    </div>
  </ion-content>

    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <button class="button button-balanced" ng-click="">Adicionar</button>
        </div>
    </ion-footer-bar>



</ion-view>