<ion-view view-title="Enviar Foto">
    <ion-content class="padding">
        <form action="" class="form-input">
            <div class="list input-form">
                <div class="take-pic">
                    <img ng-show="imgURI !== undefined" class="img-view-result" ng-src="{{imgURI}}">
                    <img ng-show="imgURI === undefined" class="img-view" ng-src="img/upload/icon-camera.png">
                    <div class="row">
                        <div class="col">
                            <a class="button button-block button-calm" ng-click="takePhoto()">
                                <i class="ion-camera"></i>Tirar
                            </a>
                        </div>
                        <div class="col">
                            <a class="button button-block button-dark" ng-click="choosePhoto()">
                                <i class="ion-image"></i>Selecionar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="list list-inset">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Categoria
                    </div>
                    <select>
                        <option>Lugares</option>
                        <option selected>Comidas</option>
                        <option>Presentes e Interesses</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Pessoa
                    </div>
                    <select>
                        <option>Pedro</option>
                        <option>Maria</option>
                        <option>Ana</option>
                        <option selected>joão</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label ">
                    <span class="input-label">Descrição</span>
                    <textarea placeholder="" name="" id="" cols="30" rows="3"></textarea>
                </label>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-dark">
        <div class="actions-footer">
            <button class="button button-balanced" ng-click="">Salvar</button>
        </div>
    </ion-footer-bar>
</ion-view>
